___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a, b):
    if a%2 == 0 and b%2 == 0:
        return a if a < b else b
        
    return a if a > b else b

In [9]:
# Check
lesser_of_two_evens(8,16)

8

In [10]:
# Check
lesser_of_two_evens(4,7)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers(text):
    words = text.split(' ')
    
    if len(words) <= 1:
        return False

    return words[0][0] == words[1][0]

In [12]:
# Check
animal_crackers('Levelheaded Llama')

True

In [19]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [21]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    else:
        return (n1 + n2) == 20

In [22]:
# Check
makes_twenty(20,10)

True

In [25]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [26]:
def old_macdonald(name):
    return name[0:3].capitalize() + name[3:].capitalize()

In [27]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [48]:
def master_yoda(text):
    yoda_reversed = text.split(' ')[::-1]
    return ' '.join(yoda_reversed)

In [49]:
# Check
master_yoda('I am home')

'home am I'

In [50]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [78]:
def almost_there(n):
    if 110 >= n:
        return (110 - n) <= 10
    elif 210 >= n:
        return (210 - n) <= 10

In [75]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [87]:
def has_33(nums):
    lastIndex3 = 0
    
    for index in range(0, len(nums), 1):
        if nums[index] == 3:
            if lastIndex3 == 0:
                lastIndex3 = index
            
            if index - lastIndex3 == 1:
                return True
    
    return False

In [88]:
# Check
has_33([1, 3, 3])

True

In [89]:
# Check
has_33([1, 3, 1, 3])

False

In [91]:
# Check
has_33([3, 1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [92]:
def paper_doll(text):
    new_word = '';
    
    for letter in text:
        new_word += letter * 3
    
    return new_word

In [93]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [94]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [101]:
def blackjack(a,b,c):
    num_sum = a + b + c
    
    if num_sum > 21 and (a == 11 or b == 11 or c == 11):
        num_sum -= 10
    
    return 'BUST' if num_sum > 21 else num_sum

In [102]:
# Check
blackjack(5,6,7)

18

In [103]:
# Check
blackjack(9,9,9)

'BUST'

In [104]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [121]:
def summer_69(arr):
    accumulator = 0
    
    sum_up = True
    
    for num in arr:
        if num == 6:
            sum_up = False
            continue
        elif num == 9:
            sum_up = True
            continue
        
        if sum_up:
            accumulator += num
        
    return accumulator

In [122]:
# Check
summer_69([1, 3, 5])

9

In [123]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [124]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [150]:
def spy_game(nums):
    agent = {0:0, 7:0}
    
    for num in nums:
        if num == 0 and agent[0] < 2:
            agent[0] += 1
        elif num == 7 and agent[7] < 1:
            if agent[0] == 2:
                agent[7] += 1
                
        if agent[0] == 2 and agent[7] == 1:
            return True
    
    return False

In [151]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [152]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [153]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [168]:
def count_primes(num):
    primes = 0
    
    for val in range(1, num+1):
        is_prime = True
        
        if val == 1:
            ++primes
            continue
        
        # check for factors
        for i in range(2, val):
            if (val % i) == 0:
                is_prime = False
    
        if is_prime:
            primes += 1
            
    return primes

In [169]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [181]:
def print_big(letter): 
    data = {
        'a': """
            *
           * *
          * * *
          *   *
          *   *
        """,
        'b': """
          * * *
          *   *
          * * *
          *   *
          * * *
        """,
        'c': """
          * * *
          *
          *
          *
          * * *
        """,
        'd': """
          * * *
          *   *
          *   *
          *   *
          * * *
        """,
        'e': """
          * * *
          *
          * * *
          *
          * * *
        """
    }
    
    print(data[letter])

In [180]:
print_big('a')

            *
           * *
          * * *
          *   *
          *   *

## Great Job!